//--------------------------------------------------------------
// variable scss
//--------------------------------------------------------------

$black          : #000;
$white          : #FFF;
$dark-grey      : #1E1E1E;
$blue           : #43B6E7;
$neon           : #FB8CDD;
$background     : #000617;