@import 'common/variables';

header{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FCDDB7;
    height: 90vh;

    nav{
        display: flex;
        justify-content: space-between;
        padding: 40px;

        @media only screen and (max-width: 640px){
            flex-direction: column;
            align-items: center;
        }

        img{
            height: 30px;
            width: 90px;
            margin-top: -10px;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            line-height: 2.5;

            @media only screen and (max-width: 640px){
                justify-content: center;
            }

            a{
            text-decoration: none;
            margin-left: 20px;
            color: $black;

            @media only screen and (max-width: 640px){
                margin: 10px;
            }

                &:hover{
                    border-bottom: 1px $black solid;
                }
            }

            .button{
                padding: 10px 20px;
                margin-left: 40px;
                border: 1px $black solid;

                @media only screen and (max-width: 640px){
                    margin-left: 20px;
                }

                &:hover{
                    padding: 9px 19px;
                    border: 2px $black solid;
                }
            }
        }
    }

    .bann{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 250px;
        line-height: 1.2;

        @media only screen and (max-width: 1024px){
            padding: 0 150px;
        }
    
        @media only screen and (max-width: 640px){
            padding: 0 100px;
            align-items: center;
        }
    
        @media only screen and (max-width: 500px){
            padding: 0 50px;
        }

        .text{
            width: 300px;

            h1{
                font-weight: bold;
                margin-bottom: 10px;
            }

            h2{
                font-weight: bold;
                font-size: 4em;
                margin-bottom: 10px;
            }

            p{
                margin-bottom: 40px;
                line-height: 1.8;
                color: #B7926F;
            }

            .button{
                text-decoration: none;
                padding: 12px 30px;
                color: $white;
                border: 1px #FB7858 solid;
                background-color: #FB7858;
                transition: background-color .3s;

                &:hover{
                    background-color: #B7926F;
                }
            }
        }
    }
}