@import 'common/variables';
@import 'common/reset';
@import 'common/mixins';

@import 'componants/main';
@import 'componants/header';
@import 'componants/subscribe';
@import 'componants/footer';

.faq{
  font-family: poppins, arial, sans-serif;
  color: $black;
  max-width: 1000px;
  margin: 40px auto;

  @media only screen and (max-width: 1040px){
    padding: 0 40px;
  }
  
  li:not(:last-child){
    margin-bottom: 20px;
  }

  li{
    position: relative;
    display: flex;
    border: 1px $black solid;
    padding: 30px;

    input{
      display: none;
    }

    label{
      cursor: pointer;
      display: flex;
      height: 40px;
      width: 40px;
      color: $white;
      margin: 0 30px 0 0;
      transition: color .3s ease-in-out;

      &:after{
        display: none;
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        @media only screen and (max-width: 530px){
          display: block;
        }
      }

      svg{
        height: 40px;
        width: 40px;
      }
    }

    .question{
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 800px;
      overflow: hidden;

      .answer{
        opacity: 0;
        color: $grey;
        font-size: 0.8rem;
        line-height: 1.2rem;
        height: 0px;
      }
    }

    .q:checked + label{
      color: transparent;
    }

    .q:checked + label + .question > .answer{
      opacity: 1;
      height: 100%;
      margin-top: 20px;
    }
  }
}
