@import '../common/variables';
@import '../common/mixins';

.banners{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;

  h3{
    font-family: poppins, arial ,sans-serif;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    color: $white;
  }

  .banner-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      right: 15px;
      bottom: 15px;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      background-color: $white;
      transition: background-color .2s;

      @media only screen and (max-width: 530px){
        height: 40px;
        width: 40px;
      }

      &:hover{
        background-color: $light-grey;
      }

      svg{
        color: $black;
        height: 15px;
      }
    }
  }

  .container-banner{
    display: flex;
    justify-content: space-between;
    height: 490px;
    width: 100%;

    @media only screen and (max-width: 1040px){
      align-items: center;
      flex-direction: column;
      height: 1000px;
    }

    @media only screen and (max-width: 530px){
      height: 800px;
    }

    .first-container-banner{
      width: 490px;
      background: url(../img/new-textures.jpg) no-repeat;
      background-size: cover;
      background-position: center;

      @media only screen and (max-width: 1040px){
        height: 490px;
      }

      @media only screen and (max-width: 530px){
        height: 390px;
        width: 390px;
      }

      a:after{
        display: none;
        content:'';
        position: absolute;
        right: -15px;
        bottom: -15px;
        height: 390px;
        width: 390px;

        @media only screen and (max-width: 530px){
          display: block;
        }
      }
    }

    .second-container-banner{
      display: flex;
      justify-content: space-between;
      width: 490px;

      @media only screen and (max-width: 1040px){
        height: 490px;
      }

      @media only screen and (max-width: 530px){
        height: 390px;
        width: 390px;
      }

      .second-container-banner-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 235px;

        @media only screen and (max-width: 530px){
          width: 185px;
        }

        .second-container-banner-left-top{
          height: 235px;
          background: url(../img/summer-hats.jpg) no-repeat;
          background-size: cover;
          background-position: center;

          @media only screen and (max-width: 530px){
            height: 185px;
          }

          a:after{
            display: none;
            content:'';
            position: absolute;
            right: -15px;
            bottom: -15px;
            height: 185px;
            width: 185px;

            @media only screen and (max-width: 530px){
              display: block;
            }
          }
        }

        .second-container-banner-left-bot{
          height: 235px;
          background: url(../img/party-shoes.jpg) no-repeat;
          background-size: cover;
          background-position: center;

          @media only screen and (max-width: 530px){
            height: 185px;
          }

          a:after{
            display: none;
            content:'';
            position: absolute;
            right: -15px;
            bottom: -15px;
            height: 185px;
            width: 185px;

            @media only screen and (max-width: 530px){
              display: block;
            }
          }
        }
      }

      .second-container-banner-right{
        width: 235px;
        background: url(../img/natural-fibers.jpg) no-repeat;
        background-size: cover;
        background-position: center;

        @media only screen and (max-width: 530px){
          width: 185px;
        }

        a:after{
          display: none;
          content:'';
          position: absolute;
          right: -15px;
          bottom: -15px;
          height: 390px;
          width: 185px;

          @media only screen and (max-width: 530px){
            display: block;
          }
        }
      }
    }
  }

  p{
    font-family: poppins, arial, sans-serif;
    color: $black;
    font-size: 0.9rem;
    text-align: center;
    line-height: 20px;
    margin: 80px 140px;

    @media only screen and (max-width: 1040px){
      margin: 40px 100px;
    }

    @media only screen and (max-width: 700px){
      margin: 40px;
    }
  }
}