@import '../common/variables';

header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins, arial, sans-serif;
  color: $black;
  font-size: 0.9rem;
  padding: 40px 0;
  max-width: 1000px;
  margin: 0 auto;

  nav{
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 1000px){
      left: 20px;
    }

    @media only screen and (max-width: 750px){
      display: none;
    }

    ul{
      display:flex;

      li{
        margin: 0 20px;

        @media only screen and (max-width: 1000px){
          margin: 0 10px 0 0;
        }

        a{
          text-decoration: none;
          color: $black;
          border-bottom: 1px solid rgba(0, 0, 0, 0);
          transition: border-bottom .3s;

          &:hover{
            border-bottom: 1px solid $black;
          }
        }
      }
    }
  }

  .hamburger-button{
    display: none;
    position: absolute;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2rem;
    padding: 0;
    left: 20px;

    @media only screen and (max-width: 750px){
      display: block;
    }
  }

  .hamburger-overlay{
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
  }

  .hamburger-sidebar{
    display: none;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    min-width: 180px;
    background-color: $light-grey;
    padding: 0 20px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform .3s ease-out;

    @media only screen and (max-width: 750px){
      display: block;
    }

    ul{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding-top: 40px;

      li{       
        position: relative;
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: 10px;

        a{
          text-decoration: none;
          color: $black;
          transition: color .3s;

          &:hover{
            color: $grey;
          }
        }
        
        a:before{
          content:'';
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
      }

      li:before{
        content:'';
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        width: 20px;
        border: 1px solid $grey;
        margin-right: 16px;
        margin-bottom: 4px;
      }
    }
  }

  #logo{
    text-decoration: none;
    color: $black;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  #topbar{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1000px){
      right: 20px;
    }

    a{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
      border-radius: 50%;
      color: $black;

      @media only screen and (max-width: 1000px){
        margin: 0 0 0 20px;
      }

      svg{
        height: 22px;
        width: 22px;
      }
    }

    .loupe:hover{
      color: $grey;
    }

    .heart-border:hover{
      color: $red;
    }

    .caddie:hover{
      color: $blue;
    }
  }
}

.hamburger-activated .hamburger-overlay{
  display: block;
}

.hamburger-activated .hamburger-sidebar{
  transform: translateX(0);
}