@import '../common/variables';
@import '../common/mixins';

.slider{
  position: relative;
  display: flex;
  height: 400px;
  max-width: 1000px;
  font-family: poppins, arial ,sans-serif;
  color: $white;
  margin: 0 auto 80px;

  @media only screen and (max-width: 1040px){
    width: calc(100% - 40px);
  }

  @media only screen and (max-width: 750px){
    height: 300px;
  }

  H2{
    z-index: 3;
    position: absolute;
    width: 300px;
    bottom: calc(50% - 1.25rem);
    left: calc(50% - 150px);
  }

  a{
    z-index: 3;
    position: absolute;
    @include button($black, $white);
    font-weight: 400;
    bottom: calc(100% / 5);
    left: calc(50% - 70px);

    &:hover{
      background-color: $light-grey;
    }

    @media only screen and (max-width: 750px){
      bottom: calc(100% / 6);
    }
  }

  .slider-picture{
    img{
      position: absolute;
      top: 0;
      left: 0;
      height: 400px;
      max-width: 1000px;
    }
  }

  .slider-select{
    position: absolute;
    bottom: -42px;
    left: calc(50% - 120px);
    display: flex;
    justify-content: center;
    align-items: center;

    .slider-dot{
      cursor: pointer;
      display: block;
      height: 4px;
      width: 50px;
      border-radius: 100px;
      background-color: $light-grey;
      font-size: 0;
      margin: 0 15px;
    }

    .slider-dot:after{
      content:'';
      position: absolute;
      top: -13px;
      height: 30px;
      width: 50px;
      border-radius: 200px;
    }
  }
}