@import '../common/variables';
@import '../common/mixins';

.slider-picture{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/slide-1.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  font-family: poppins, arial ,sans-serif;
  color: $white;
  max-width: 1000px;
  margin: 0 auto;

  a{
    position: absolute;
    @include button($black, $white);
    font-weight: 400;
    bottom: calc(100% / 5);

    &:hover{
      background-color: $light-grey;
    }
  }
}

.slider-dot{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;

  ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input{
    display: none;
  }

  label{
      cursor: pointer;
      display: block;
      height: 4px;
      width: 50px;
      border-radius: 100px;
      background-color: $light-grey;
      margin: 0 15px;
  }

  label:after{
    content:'';
    position: absolute;
    top: -13px;
    height: 30px;
    width: 50px;
    border-radius: 200px;
  }

  input:checked + label{
    background-color: $grey;
  } 
}