@import '../common/variables';
@import '../common/mixins';

.subscribe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $beige;
  height: 300px;
  max-width: 1000px;
  margin: 50px auto 80px; 

  @media only screen and (max-width: 1040px){
    margin-top: 20px;
  }

  @media only screen and (max-width: 740px){
    height: 200px;
  }

  h2{
    margin-bottom: 50px;

    @media only screen and (max-width: 740px){
      font-size: 2rem;
    }

    @media only screen and (max-width: 530px){
      font-size: 1.6rem;
    }
  }

  .submit{
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 250px;
    background-color: $white;
    padding: 0 25px;

    input{
      height: 40px;
      width: 100%;
      font-size: 1rem;
      border: none;
      font-family: poppins, arial ,sans-serif;
      font-weight: 300;
    }

    .submit-button{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: -25px;
      color: $white;
      background-color: $black;
      height: 48px;
      width: 48px;
      border-radius: 50px;
      border: 1px solid $black;
      transition: background-color .3s, color .3s;

      &:hover{
        color: $black;
        background-color: $light-grey;
      }

      svg{
        height: 15px;
      }
    }
  }
}