@import 'common/variables';

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/hero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-width: 470px;
    height: 100vh;
    padding: 40px 120px;
    box-sizing: border-box;

    @media only screen and (max-width: 1024px){
        padding: 40px 80px;
    }

    @media only screen and (max-width: 640px){
        align-items: center;
        justify-content: center;
        padding: 40px 40px;
    }

    // NAVBAR
    nav{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        font-size: 0.9em;

        @media only screen and (max-width: 1024px){
            flex-wrap: wrap;

            .element{
                margin-bottom: 20px;
            }
        }

        @media only screen and (max-width: 640px){
            flex-direction: column;

            .element:nth-child(3){
                order: 1;
            }
        }

        .logo{
            margin-right: 40px;
            order: 1;
        }

        .navbar{
            display: flex;
            order: 2;

            a{
                color: #276370;
                text-decoration: none;
                margin: 0 20px;

                &:hover{
                    color: #85D18E;
                    border-bottom: 1px #85D18E solid;
                }
            }
        }

        .login{
            position: absolute;
            display: flex;
            right: 0px;
            order: 3;

            @media only screen and (max-width: 1024px){
                position: relative;
            }
    
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                margin: 0 10px;
                border-radius: 50px;
                padding: 12px 30px;
            }

            .login-button{
                color: #276370;
                border: 1px #276370 solid;

                &:hover{
                    background-color: #85D18E;
                    color: $white;
                    border: none;
                    padding: 13px 31px;
                }
            }

            .signup-button{
                color: $white;
                background-color: #204852;
                box-shadow: inset 100px 0 20px #276370 ;

                &:hover{
                    background-color: $white;
                    color: #85D18E;
                    border: 1px #85D18E solid;
                    padding: 11px 29px;
                    box-shadow: none;
                }
            }
        }
    }

    // HERO
    .hero{
        color: #70837D;
        line-height: 1.2;

        @media only screen and (max-width: 660px){
            display: flex;
            flex-direction: column;
        }

        h1{
            color: #85D18E;
            font-size: 3em;
            line-height: 1.2;
            margin-bottom: 20px;

            @media only screen and (max-width: 880px){
                font-size: 2.8em;
                line-height: 1;
                margin-bottom: 10px;
            }
        }

        p{
            line-height: 2;
            margin-bottom: 20px;

            @media only screen and (max-width: 880px){
                font-size: 0.9em;
                line-height: 1.5;
                margin-bottom: 10px;
            }
        }

        .zip-code{
            position: relative;
            display: flex;
            align-items: center;
            height: 60px;
            width: 300px;
            margin: 40px 0 60px;
            border-radius: 50px;
            background-color: $white;
            box-shadow: 0 10px 10px #EEF9F1;

            @media only screen and (max-width: 1024px){
                box-shadow: none;
            }

            @media only screen and (max-width: 880px){
                margin: 20px 0 30px;
            }

            @media only screen and (max-width: 640px){
                align-self: center;
            }
            
            img{
                margin: 0 10px 0 20px;
            }

            form{

                input{
                    height: 50px;
                    font-size: 1em;
                    border: none;
                    border-radius: 50px;
                }
            }

            .arrow{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 0 4px;
                right: 4px;
                border-radius: 100%;
                height: 50px;
                width: 50px;
                color: $white;
                background-color: #FB7A6E;
                box-shadow: inset 20px 0 12px #FCA978;
                text-decoration: none;
                font-family: 'arial';
                font-size: 2rem;
                box-sizing: border-box;

                &:hover{
                    background-color: $white;
                    color: #FCA978;
                    border: 1px #FCA978 solid;
                    height: 48px;
                    width: 48px;
                    box-shadow: none;
                }
            }
        }

        .app{      
            
            @media only screen and (max-width: 640px){
                display: flex;
                justify-content: space-around;
            }

            a{
                margin-right: 20px;

                @media only screen and (max-width: 640px){
                    margin-right: 0;
                }
            }
        }
    }
}