@import 'common/variables';

.fenetres{
	height:400px;
	width:1000px;
	margin:0;
	background-color:$mouse-grey;
	display:flex;
	justify-content:center;
	align-items:center;

	.encadrement-fenetres{
		height:340px;
		width:920px;
		margin:0;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;

		.contener-fenetres{
			height:150px;
			width:450px;
			padding:0;
			position:relative;

			.cadre{
				position: relative;
				height:150px;
				width:300px;
				box-sizing: border-box;
				padding-left: 40px;
				background-color:$white;
				line-height: 1.4rem;
				color:#000;
				position:absolute;
				display:inline-block;
			
				h4{
					font-size: 110%;
				}
			
				strong{
					display: block;
					font-weight:bold;
					color: $grey;
					font-size:80%;
				}
			
				em{
					display: block;
					font-style:normal;
					color:#CECECE;
					font-size:80%;
				}
			
				a{
					display: block;
					text-decoration: none;
					letter-spacing: 1px;
					font-size: 80%;
					color: $black;
			
					&:hover{
						text-decoration:underline;
					}
				}
			}
		}
	}
}