@import 'common/variables';

.footer{
	height:300px;
	width:1000px;
	background-color: $white;
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 0 auto;

	.encadrement-footer{
		height:290px;
		width:920px;
		margin:0;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
}

.column{
	height:280px;
	width:280px;

	a{
		text-decoration:none;
		font-size:90%;
		letter-spacing: 1px;
		color: $black;

		&:hover{
			text-decoration:underline;
		}
	}

	li{
		font-size:70%;
		line-height: 1.2rem;
	}
}

h4{
	font-weight:bold;
}

.left-column{
	overflow:hidden;

	h5{
		font-size: 110%;
		color: $light-grey;
	}

	img{
		margin-right:20px;
		margin-bottom:10px;
		float:left;
	}
}
.center-column{
	display:flex;
	flex-direction:column;

	ul{
		list-style:none;
		padding:0;
		margin:0;
	}
}