@import '../common/variables';

body{
  margin: auto;
  font-family: roboto, arial, sans-serif;
  text-transform: uppercase;
  width: 1200px;
  
  a{
    color: $black;
    text-decoration: none;
  }
}