@import '../common/variables';

// HEADER

header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid $neon;
  border-bottom: 1px solid $blue;

  img{
    max-width: 800px;
  }

  .album-themes{
    --interval: 1s;
    display: block;
    text-shadow: 
      0 0 10px var(--color1),
      0 0 25px var(--color2),
      0 0 50px var(--color3),
      0 0 100px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
  }

  .title-muhlbo{
    cursor: default;
    position: absolute;
    font-family: 'agrandir', sans-serif;
    text-transform: uppercase;
    font-size: 8.5rem;
    left: 15%;
    top: 5%;
    color: $neon;
    --color1: #F7B8E8;
    --color2: #FB8CDD;
    --color3: #D374B9;
    --color4: #9E578B;

    em{
      font-family: 'megrim', sans-serif;
    }
  }

  .title-themes{
    position: absolute;
    left: 15%;
    top: 25%;
    max-height: 110px;
  }

  @keyframes flicker {
    50% {
      color: #F8BDE3;
      filter: saturate(200%) hue-rotate(20deg);
    }
  }
}