@import '../common/variables';

.pochette{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid $neon;
  border-bottom: 1px solid $blue;

  img{
    max-width: 800px;
  }

  .album-themes{
    --interval: 1s;
    display: block;
    text-shadow: 
      0 0 10px var(--color1),
      0 0 25px var(--color2),
      0 0 50px var(--color3),
      0 0 100px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
  }

  .title-muhlbo{
    cursor: default;
    position: absolute;
    font-family: 'agrandir', sans-serif;
    text-transform: uppercase;
    font-size: 8.5rem;
    left: 12%;
    top: 3%;
    color: $neon;
    animation: neon var(--animation-time) ease alternate infinite;
    
    em{
      font-family: 'megrim', sans-serif;
    }
  }
}

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(255,140,221,0.92),
    0 0 30px rgba(255,140,221,0.34),
    0 0 12px rgba(255,140,255,0.52),
    0 0 21px rgba(255,140,255,0.92),
    0 0 34px rgba(255,140,255,0.78),
    0 0 54px rgba(255,140,255,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(255,140,221,0.98),
    0 0 30px rgba(255,140,221,0.42),
    0 0 12px rgba(255,140,255,0.58),
    0 0 22px rgba(255,140,255,0.84),
    0 0 38px rgba(255,140,255,0.88),
    0 0 60px rgba(255,140,255,1);
  }
}