@import '../common/variables';
@import '../common/mixins';

.bann{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/plantes.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh/1.3);
    max-height: 750px;
    max-width: 1000px;
    font-family: dosis, arial ,sans-serif;
    color: $white;
    margin-bottom: 100px;

    p{
        margin-bottom: 20px;
        text-shadow: 0 0 1px $green;
    }

    h1{
        font-size: 2.8em;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
        text-shadow: 0 0 1px $green;
    }

    a{
        @include button($white, $green, $white);

        &:hover{
            color: $green;
            background-color: $white;
            border: 1px $green solid;
        }
    }
}