@import '../common/variables';

.bann{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/serre.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    font-family: dosis, arial ,sans-serif;
    color: $white;
    margin-bottom: 50px;

    h1{
        font-size: 2.8em;
        letter-spacing: 0.1em;
        text-shadow: 0 0 1px $green;
    }
}