@import '../common/variables';
@import '../common/mixins';

header{
    position: relative;
    font-family: dosis, arial ,sans-serif;
    margin-bottom: 30px;

// TOPBAR
    .topbar{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        font-size: 0.8em;

        @media only screen and (max-width: 800px){
            padding: 30px 30px;
        }

        @media only screen and (max-width: 800px){
            justify-content: left;
        }

        @media only screen and (max-width: 500px){
            justify-content: space-between;
            align-items: initial;
            height: 80px;
        }

        .phone{
            position: absolute;
            left: 0;
            display: flex;
            align-items: center;

            @media only screen and (max-width: 1024px){
                left: 30px;
            }

            @media only screen and (max-width: 800px){
                display: none;
            }

            svg{
                height: 35px;
                width: 35px;
            }

            p{
                margin-left: 20px;
                font-weight: lighter;
                line-height: 1.4;
                color: $grey;

                .phone-number{
                    font-weight: bolder;
                    font-size: 1.2em;
                    letter-spacing: 0.1em;
                    color: $green;
                }
            }
        }

        .cart{
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;

            @media only screen and (max-width: 1024px){
                right: 30px;
            }

            @media only screen and (max-width: 500px){
                position: relative;
                align-items: initial;
                right: 0;
                top: 5px;
            }

            .search{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                height: 30px; 
                margin-right: 30px;
                padding: 0 6px 0 4px;
                border: 1px $grey solid;
                border-radius: 50px;

                @media only screen and (max-width: 500px){
                    position: absolute;
                    top: 55px;
                    right: 0;
                    margin-right: 0;
                }

                .search-area{
                    height: 30px;
                    font-family: dosis, arial ,sans-serif;
                    color: $black;
                    font-size: 1em;
                    border: none;
                    width: 0;
                    opacity: 0;
                    border-radius: 50px;
                    transition: width .4s, opacity .9s;

                    @media only screen and (max-width: 500px){
                        width: 350px;
                        opacity: 1;
                        margin-left: 10px;
                    }

                    @media only screen and (max-width: 450px){
                        width: 230px;
                    }
                }

                #search-button{
                    display: none;
                }

                label{
                    color: $black;
                    cursor: pointer;
                    transition: margin-right .4s, color .3s;

                    svg{
                        display: block;
                        height: 18px;
                        width: 18px;
                    }

                    &:hover{
                        color: $green;
                    }
                }

                #search-button:checked + label + .search-area{
                    width: 130px;
                    opacity: 1;
                    margin-left: 10px;
                }

                #search-button:checked + label{
                    color: $green;
                    margin-right: 5px;

                    @media only screen and (max-width: 500px){
                        color: initial;
                        margin-right: 0;
                    }
                }
            }

            .cart-button{
                @include button($black, $white, $grey);
                transition: box-shadow .3s, transform .3s, color .3s, border .3s;

                &:hover{
                    color: $green;
                    border: 1px $green solid;
                    box-shadow: 0 4px 7px rgba($black, 0.2)
                }
            }

            .cart-button-push{
                @include button($green, $white, $green);
                box-shadow: inset 0 0 5px rgba($black, 0.2);

                &:hover{
                    box-shadow: inset 0 0 5px rgba($black, 0.2);
                }
            }
        }
    }

// NAVBAR
    nav{
        display: flex;
        justify-content: center;

        ul{
            display: flex;

            li{
                margin: 0 20px;

                @media only screen and (max-width: 400px){
                    margin: 0 15px;
                }

                .select{
                    color: $green;
                }

                a{
                    text-decoration: none;
                    color: $black;
                    font-weight: lighter;
                    transition: color .3s;

                    &:hover{
                        color: $green;
                    }
                }
            }
        }
    }
}