@import '../common/variables';
@import '../common/mixins';

.lastest-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: dosis, arial ,sans-serif;
    color: $black;
    margin-bottom: 80px;

    h2{
        font-size: 2em;
        font-weight: lighter;
        margin-bottom: 10px;
    }

    ul{
        display: flex;
        margin-bottom: 30px;

        li{
            margin: 0 10px;

            a{
                text-decoration: none;
                color: $black;
                font-weight: lighter;
                font-size: 0.8em;
                transition: color .3s;

                &:hover{
                    color: $green;
                }
            }
        }
    }

    .container-products{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        margin-bottom: 20px;

        .product{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 235px;
            width: 235px;
            overflow: hidden;

            .img-product {
                display: block;
                width: 100%;
                height: 100%;
            }
            .band{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 50px;
                width: 100%;
                background-color: rgba($white, 0.7);
                bottom: 20px;
                left: 0;

                .name{
                    text-decoration: none;
                    color: $black;
                    margin: 0 0 5px 20px;

                    &:after{
                        content:'';
                        z-index: 2;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                }
    
                .price{
                    color: $green;
                    font-family: arial;
                    font-size: 1em;
                    margin-left: 20px;
    
                    em{
                        color: $black;
                        font-size: 0.6em;
                        text-decoration: line-through;
                    }
                }
    
                .green-arrow{
                    position: absolute;
                    display: flex;
                    right: 5px;
                    bottom: 5px;
            
                    .triangle{
                        display : inline-block;
                        height : 0;
                        width : 0;
                        border-top : 10px solid transparent;
                        border-right : 12px solid $green;
                        border-bottom : 10px solid transparent;
                    }

                    .rectangle{
                        height : 20px;
                        width : 30px;
                        background-color: $green;
                    }

                    .size{
                        position: absolute;
                        right: 4px;
                        bottom: 5px;
                        font-family: arial;
                        font-size: 0.6em;
                        color: $white;
                    }
                }
            }

            .pop-up{
                z-index: 3;
                position: absolute;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: rgba($white, 0.9);
                border-radius: 50px;
                width: 200px;
                padding: 5px;
                top: 80px;
                transform: translate(0, -90px);
                transition: opacity .4s, transform .4s;
                box-shadow: 0 5px 10px $black;
                opacity: 0;

                svg{
                    display: block;
                    height: 20px;
                    width: 20px;
                }

                .icon-search{
                    color: $black;

                    &:hover{
                        color: $green;
                    }
                }

                .icon-heart{

                    input{
                        display: none;
                    }

                    input + label .heart-form{
                        position: absolute;
                        opacity: 0;
                        color: $red;
                        transition: opacity .3s;
                    }

                    input:checked + label .heart-form{
                        opacity: 1;
                    }

                    label{
                        cursor: pointer;

                        &:hover .heart-border{
                            color: $red;
                        }
                    }
                }
            }

            &:hover .pop-up{
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }

    .button{

        @include button($white, $green, $green);
        box-shadow: 0 5px 10px $grey;

        &:hover{
            color: $green;
            background-color: $white;
            border: 1px $green solid;
        }
    }
}