@import '../common/variables';

.quote{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: dosis, arial ,sans-serif;
    background-color: $black;
    height: 350px;
    width: 100%;
    margin-bottom: 50px;

    @media only screen and (max-width: 610px){
        height: 300px;
    }

    @media only screen and (max-width: 500px){
        height: 250px;
    }

    &:before{
        content: '';
        position: absolute;
        background: url(../img/arrow-left-grey.png) no-repeat;
        height: 40px;
        width: 30px;
        left: 30px;
        top: 160px;

        @media only screen and (max-width: 720px){
            left: 10px;
        }
    }

    &:after{
        content: '';
        position: absolute;
        background: url(../img/arrow-right-white.png) no-repeat;
        height: 40px;
        width: 30px;
        right: 30px;
        top: 160px;

        @media only screen and (max-width: 720px){
            right: 10px;
        }
    }

    .citation{
        position: relative;
        font-size: 1.5em;
        font-weight: lighter;
        line-height: 1.4;
        width: 500px;
        margin-bottom: 40px;

        @media only screen and (max-width: 610px){
            width: 350px;
            font-size: 1.2em;
        }

        @media only screen and (max-width: 500px){
            width: 240px;
            font-size: 1em;
        }

        &:before{
            content: '';
            position: absolute;
            background: url(../img/quote.png) no-repeat;
            height: 20px;
            width: 20px;
            left: -40px;

            @media only screen and (max-width: 720px){
                display: none;
            }
        }
    }

    p{
        color: $white;
        font-size: 0.8em;

        @media only screen and (max-width: 610px){
            width: 350px;
            font-size: 0.7em;
        }

        @media only screen and (max-width: 500px){
            width: 240px;
            font-size: 0.5em;
        }

        em{
            font-weight: lighter;
            line-height: 3;
            color: $grey;
        }
    }
}