@import 'common/variables';

.contenu-1{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px $light-grey solid;
    height: 25%;
    padding-right: 70px;
    padding-left: 60px;

    .entete{
        position: relative;
        font-family: 'arial';
        color: $black;
        height: 200px;

         h3{
            font-family: 'didot';
            font-size: 5rem;
            margin-bottom: 20px;
        }
         p{
            font-size: 1.4rem;
            line-height: 25px;
            margin-bottom: 80px;
        }
         .date{
            position: absolute;
            transform: rotate(90deg);
            transform-origin: bottom right;
            font-family: 'arial';
            font-size: 1rem;
            color: $black;
            bottom: 0;
            right: -20px;
        }
    }

    .article{
        display: flex;
        min-height: 427px;

         .portrait{
            position: relative;
            min-width: 500px;
            overflow: hidden;

            img{
                position: absolute;
            }
        }

         .paragraphe{
            display: flex;
            flex-direction: column;
            font-family: 'arial';
            color: $black;
            width: 100%;
            padding: 0 40px;

             .accroche{
                display: flex;
                font-size: 2.5rem;
                border: 2px $black solid;
                padding: 30px;
                box-shadow: 30px 30px $mouse-grey;
            }

             .texte{
                font-size: 1.4rem;
                line-height: 25px;
                column-count: 2;
                column-gap: 50px;
                height: 100%;
                padding-top: 60px;
            }
        }
    }

    .signature{
        font-family: 'arial';
        font-size: 1.2rem;
        color: $black;
        line-height: 15px;
        padding-top: 60px;

         em{
            font-weight: 600;
        }
    }
}