//--------------------------------------------------------------
// variable scss
//--------------------------------------------------------------

$black          : #000;
$white          : #FFF;
$grey           : #898989;
$light-grey     : #F7F7F7;
$green          : #7FB541;
$blue           : #0072BC;
$red            : #D0021B;