//--------------------------------------------------------------
// variable scss
//--------------------------------------------------------------

$black          : #000;
$white          : #FFF;
$dark-grey      : #303133;
$grey           : #555358;
$light-grey     : #D0D2D3;
$apple-green    : #75DF8A;
$grenadine      : #EB5368;
$mustard        : #F0D154;
$water-green    : #5AB4B6;
$mouse-grey     : #F6F6F6;
$blue-sky       : #78B4D7;