@import 'common/variables';

.bann{
	height:375px;
	width:1000px;
	max-width:1000px;
	margin:0 auto;
	padding:0;
	overflow:hidden;
}
.contener-img{
	width:2000px;

	& > img{
		position:relative;
		left: 0;
		transition:left .5s;
		width:1000px;
		float:left;
	}
	&:hover > img{
		left:-1000px;
	}
}