@import 'common/variables';
@import 'common/reset';
@import 'common/mixins';

@import 'componants/main';
@import 'componants/header';
@import 'componants/banner-about';
@import 'componants/quote';
@import 'componants/newsletter-all';
@import 'componants/footer';

.about{
    font-family: dosis, arial ,sans-serif;
    padding: 0 120px;
    margin-bottom: 30px;

    @media only screen and (max-width: 1000px){
        padding: 0 60px;
    }

    .article-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;

        @media only screen and (max-width: 700px){
            margin-bottom: 40px;
        }

        h2{
            width: 100%;
            font-size: 1.3em;
            font-weight: bolder;
            margin-bottom: 20px;
        }

        p{
            font-size: 0.8em;
            line-height: 1.4;
            margin-bottom: 20px;

            @media only screen and (max-width: 700px){
                text-align: justify;
            }
        }
    }

    .top-about{
        display: flex;
        margin-bottom: 50px;
        
        @media only screen and (max-width: 700px){
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;
        }

        .window{
            height: 300px;
            width: 250px;
            background-color: $green;
            color: $white;
            font-size: 2.3em;
            font-weight: lighter;
            line-height: 1.2;
            padding: 60px 40px 40px;
            margin: -100px 40px 0 0;

            @media only screen and (max-width: 700px){
                margin: 0 0 60px 0;
            }

            p{

            }

            .sign{
                text-align: right;
                font-size: 0.4em;
                margin-top: 20px;
            }
        }

        .article-about{
            flex: 1;
        }
    }

    .bot-about{
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        margin-bottom: 50px;

        @media only screen and (max-width: 700px){
            flex-direction: column;
            align-items: center;
        }
    }
}