@import 'common/variables';

.all-products{
    display: flex;
    margin-bottom: 50px;

    .products{
        display: flex;
        flex-direction: column;

        .preferences{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            
            img{
                height: 20px;
                border: 1px $green solid;
                padding: 5px;
                margin-right: 8px;
            }

            p{
                font-family: dosis, arial ,sans-serif;
                font-size: 0.8em;
                font-weight: lighter;
                color: $grey;
            }
        }

        .container-products{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            height: 1020px;
            max-width: 795px;
            margin-bottom: 10px;
    
            .product{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 180px;
                width: 180px;
                overflow: hidden;
    
                .container{
                    z-index: 3;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 460px;
                    width: 180px;
                    top: -180px;
                    transition: top .5s;
    
                    &:hover{
                        top: -45px;
                    }
    
                    .pop-up{
                        position: relative;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        height: 30px;
                        width: 140px;
                        background-color: $white;
                        opacity: 0.9;
                        border-radius: 50px;
    
                        img{
                            position: relative;
                            height: 20px;
                            width: 20px;
                            right: inherit;
                            bottom: inherit;
                        }
                    }
                }
    
                .name{
                    z-index: 1;
                    position: absolute;
                    left: 10px;
                    bottom: 30px;
                    color: $black;
                }
    
                .price{
                    z-index: 1;
                    position: absolute;
                    left: 10px;
                    bottom: 15px;
                    color: $green;
                    font-family: arial;
                    font-size: 1em;
    
                    em{
                        z-index: 1;
                        color: $black;
                        font-size: 0.6em;
                        text-decoration: line-through;
                    }
                }
    
                img{
                    z-index: 1;
                    position: absolute;
                    height: 15px;
                    right: 10px;
                    bottom: 10px;
                }
    
                .size{
                    z-index: 2;
                    position: absolute;
                    right: 15px;
                    bottom: 15px;
                    font-family: arial;
                    font-size: 0.5em;
                    color: $white;
                }
    
                .background{
                    position: absolute;
                    height: 45px;
                    width: 235px;
                    background-color: $white;
                    opacity: 0.7;
                    bottom: 6px;
                }
            }
    
            .product-1{
                background: url(../../dist/img/bonsai-ficus-ginseng.jpg);
                background-size: cover;
                background-position: center;
            }
    
            .product-2{
                background: url(../../dist/img/maidenhair-fern.jpg);
                background-size: cover;
                background-position: center;
            }
    
            .product-3{
                background: url(../../dist/img/maranta-leuconeura.jpg);
                background-size: cover;
                background-position: center;
            }
    
            .product-4{
                background: url(../../dist/img/polyscias-scutellaria.jpg);
                background-size: cover;
                background-position: center;
            }
    
            .product-5{
                background: url(../../dist/img/zantedeschia-calla.jpg);
                background-size: cover;
                background-position: center;
            }
    
            .product-6{
                background: url(../../dist/img/sansevieria-trifasciata.jpg);
                background-size: cover;
                background-position: center;
            }
    
            .product-7{
                background: url(../../dist/img/queen-aglaonema.jpg);
                background-size: cover;
                background-position: center;
            }
    
            .product-8{
                background: url(../../dist/img/peperomia-caperata.jpg);
                background-size: cover;
                background-position: center;
            }
        }

        .page{
            font-family: dosis, arial ,sans-serif;
            font-weight: lighter;
            color: $grey;

            ul{
                display: flex;

                li{
                    margin-right: 7px;

                    a{
                        text-decoration: none;
                        font-family: dosis, arial ,sans-serif;
                        font-weight: lighter;
                        color: $grey;

                        &:hover{
                            color: $green;
                        }
                    }
                }
            }
        }
    }

    .menu{
        width: 180px;
        border-left: 1px $grey solid;
        margin-left: 15px;
        padding: 10px 15px;

        h2{
            display: inline-block;
            font-family: dosis, arial ,sans-serif;
            font-weight: bold;
            font-size: 0.8em;
            color: $black;
            border-bottom: 2px $green solid;
            padding-bottom: 2px;
            margin-bottom: 20px;
        }

        .categories{
            font-family: dosis, arial ,sans-serif;
            font-size: 0.8em;
            color: $black;
            border-bottom: 1px $light-grey solid;
            padding-bottom: 30px;
            margin-bottom: 30px;

            input{
                margin: 0 10px 8px 0;
            }
        }

        .by-price{
            font-family: arial;
            font-size: 0.8em;
            color: $green;
            border-bottom: 1px $light-grey solid;
            padding-bottom: 30px;
            margin-bottom: 30px;

            input{
                width: 100%;
                margin-bottom: 10px;
            }

            .filter{
                display: flex;
                justify-content: space-between;
                align-items: center;

                a{
                    text-decoration: none;
                    font-family: dosis, arial ,sans-serif;
                    font-size: 0.8em;
                    color: $black;
                    padding: 8px 15px 5px;
                    border: 1px $grey solid;
                    border-radius: 25px;

                    &:hover{
                        color: $green;
                    }
                }
            }
        }

        .by-color{
            font-family: dosis, arial ,sans-serif;
            font-size: 0.8em;
            color: $black;
            border-bottom: 1px $light-grey solid;
            padding-bottom: 30px;
            margin-bottom: 30px;

            input{
                margin: 0 10px 8px 0;
            }
        }

        .brand{
            font-family: dosis, arial ,sans-serif;
            font-size: 0.8em;
            color: $black;
            border-bottom: 1px $light-grey solid;
            padding-bottom: 30px;
            margin-bottom: 30px;

            input{
                margin: 0 10px 8px 0;
            }
        }

        .featured-product{
            font-family: dosis, arial ,sans-serif;

            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                margin-bottom: 5px;

                img{
                    height: 50px;
                    margin-right: 3px;
                }

                .text{

                    .name{
                        color: $black;
                        font-size: 0.9em;
                    }
        
                    .price{
                        color: $green;
                        font-family: arial;
                        font-size: 0.7em;
        
                        em{
                            color: $black;
                            font-size: 0.6em;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}