@import 'common/variables';

header{
    position: relative;
    font-family: dosis, arial ,sans-serif;

// TOPBAR
    .topbar{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        font-size: 0.8em;

        .phone{
            display: flex;
            align-items: center;

            p{
                margin-left: 20px;
                font-weight: lighter;
                line-height: 1.4;
                color: $grey;

                .phone-number{
                    font-weight: bolder;
                    font-size: 1.2em;
                    letter-spacing: 0.1em;
                    color: $orange;
                }
            }
        }

        .cart{
            display: flex;
            align-items: center;

            .cart-button{
                margin-left: 30px;
                padding: 15px 20px 5px;
                text-decoration: none;
                color: $black;
                border: 1px $grey solid;
                border-radius: 25px;
            }
        }
    }

// NAVBAR
    nav{
        display: flex;
        justify-content: center;

        ul{
            display: flex;

            li{
                margin: 0 20px;

                a{
                    text-decoration: none;
                    color: $black;
                    font-weight: lighter;
                }
            }
        }
    }
}