@import 'common/variables';

.newsletter{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: dosis, arial ,sans-serif;
    color: $black;
    background-color: $light-grey;
    padding: 40px 0;
    margin-bottom: 30px;

    h3{
        font-size: 1em;
        line-height: 1.4;
    }

    form{
        input{
            height: 30px;
            font-size: 1em;
            border: none;
            border-bottom: 1px $grey solid;
            font-family: dosis, arial ,sans-serif;
            font-size: 1.4em;
            text-align: center;
            color: $grey;
            background-color: $light-grey;
            padding: 10px 20px;
        }
    }

    .subscribe{
        padding: 14px 30px 8px;
        text-decoration: none;
        font-size: 0.8em;
        color: $black;
        border: 1px $grey solid;
        border-radius: 25px;

        &:hover{
            color: $green;
        }
    }
}