@import 'common/variables';
@import 'common/reset';
@import 'common/mixins';

@import 'componants/main';
@import 'componants/header';
@import 'componants/banner-store';
@import 'componants/newsletter-all';
@import 'componants/footer';

.all-products{
    display: flex;
    margin-bottom: 50px;

    .products{
        display: flex;
        flex-direction: column;

        .preferences{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            
            a{
                height: 32px;
                width: 30px;
                margin-right: 8px;
                color: $black;
                border: 1px $green solid;

                &:hover{
                    color: $green;
                }

                svg{
                    height: 30px;
                    width: 30px;
                }

                .cadre{
                    color: $grey;
                }

                .select{
                    color: $green;
                }
            }

            p{
                font-family: dosis, arial ,sans-serif;
                font-size: 0.8em;
                font-weight: lighter;
                color: $grey;
            }
        }

        .container-products{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 15px;
            margin-bottom: 10px;
    
            .product{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 180px;
                width: 180px;
                overflow: hidden;
    
                .img-product {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                .band{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 50px;
                    width: 100%;
                    background-color: rgba($white, 0.7);
                    bottom: 20px;
                    left: 0;
    
                    .name{
                        text-decoration: none;
                        color: $black;
                        margin: 0 0 5px 20px;
    
                        &:after{
                            content:'';
                            z-index: 2;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }
                    }
        
                    .price{
                        color: $green;
                        font-family: arial;
                        font-size: 1em;
                        margin-left: 20px;
        
                        em{
                            color: $black;
                            font-size: 0.6em;
                            text-decoration: line-through;
                        }
                    }
        
                    .green-arrow{
                        position: absolute;
                        display: flex;
                        right: 5px;
                        bottom: 5px;
                
                        .triangle{
                            display : inline-block;
                            height : 0;
                            width : 0;
                            border-top : 8px solid transparent;
                            border-right : 10px solid $green;
                            border-bottom : 7px solid transparent;
                        }

                        .rectangle{
                            height : 15px;
                            width : 25px;
                            background-color: $green;
                        }

                        .size{
                            position: absolute;
                            right: 4px;
                            bottom: 3px;
                            font-family: arial;
                            font-size: 0.5em;
                            color: $white;
                        }
                    }
                }

                .pop-up{
                    z-index: 3;
                    position: absolute;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    background-color: rgba($white, 0.9);
                    border-radius: 50px;
                    width: 70px;
                    padding: 5px;
                    top: 50px;
                    transform: translate(0, -90px);
                    transition: opacity .4s, transform .4s, width .4s;
                    box-shadow: 0 5px 10px $black;
                    opacity: 0;
    
                    svg{
                        display: block;
                        height: 15px;
                        width: 15px;
                    }
    
                    .icon-cart{
                        color: $black;
    
                        &:hover{
                            color: $green;
                        }
                    }
                    
                    .icon-search{
                        color: $black;
    
                        &:hover{
                            color: $green;
                        }
                    }
    
                    .icon-heart{
    
                        input{
                            display: none;
                        }
    
                        input + label .heart-form{
                            position: absolute;
                            opacity: 0;
                            color: $red;
                            transition: opacity .5s;
                        }
    
                        input:checked + label .heart-form{
                            opacity: 1;
                        }
    
                        label{
                            cursor: pointer;
    
                            &:hover .heart-border{
                                color: $red;
                            }
                        }
                    }
                }
    
                &:hover .pop-up{
                    transform: translate(0, 0);
                    opacity: 1;
                    width: 140px;
                }
            }
        }    

        .page{
            display: flex;
            font-family: dosis, arial ,sans-serif;
            font-weight: lighter;
            color: $grey;

            li{
                margin-right: 7px;

                a{
                    text-decoration: none;
                    font-family: dosis, arial ,sans-serif;
                    font-weight: lighter;
                    color: $grey;

                    &:hover{
                        color: $green;
                    }
                }
            }
        }
    }

// MENU
    .menu{
        width: 180px;
        border-left: 1px $grey solid;
        margin-left: 15px;
        padding: 10px 15px;

        div:not(:last-child){
            border-bottom: 1px $light-grey solid;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        h2{
            display: inline-block;
            font-family: dosis, arial ,sans-serif;
            font-weight: bold;
            font-size: 0.8em;
            color: $black;
            border-bottom: 2px $green solid;
            padding-bottom: 2px;
            margin-bottom: 20px;
        }

        ul{
            font-family: dosis, arial ,sans-serif;
            font-size: 0.8em;
            color: $black;

            li:not(:last-child){
                margin-bottom: 7px;
            }

            li{
                position: relative;
                padding-left: 20px;

                input{
                    display: none;
                }

                label{
                    cursor: pointer;
                }

                label:before{
                    content:'';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 10px;
                    width: 10px;
                    border: 1px $green solid;
                    border-radius: 3px;
                }

                input + label:after{
                    content:'';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 12px;
                    width: 12px;
                    background-color: $green;
                    border-radius: 3px;
                    opacity: 0;
                    transition: opacity .3s;
                }

                input:checked + label:after{
                    opacity: 1;
                }
            }
        }

        .by-price{

            form{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                input{
                    width: 100%;
                    cursor: pointer;
                    margin-bottom: 10px;
                }

                label{
                    font-family: arial;
                    color: $green;
                }
    
                a{
                    @include button($black, $white, $grey);
                    font-family: dosis, arial ,sans-serif;
                    height: 20px;
                    padding: 0 15px;
                    transition: color .3s;
    
                    &:hover{
                        color: $green;
                    }

                    &:active{
                        box-shadow: inset 0 0 2px rgba($black, 0.4);
                    }
                }
            }
        }

        .featured-product{

            li{
                padding-left: 0;
                transition: box-shadow .3s, transform .3s;
                
                &:hover{
                    transform: translate3d(0, -2px, 0);
                    box-shadow: 0 4px 17px rgba($black, 0.4)
                }
            }

            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                margin-bottom: 5px;

                img{
                    height: 50px;
                    margin-right: 8px;
                }

                .text{

                    .name{
                        color: $black;
                        font-size: 1em;
                        margin-bottom: 3px;
                    }
        
                    .price{
                        color: $green;
                        font-family: arial;
                        font-size: 0.8em;
                        line-height: 1.2;
        
                        em{
                            color: $black;
                            font-size: 0.7em;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}